.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 30px;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 6px;
  position: relative;
  text-align: left;
}

.price-drop {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #f4c21b;
  padding: 3px 8px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 2px;
}

.product-img {
  width: 100%;
  height: 230px;
  object-fit: contain;
  margin-bottom: 10px;
}

.rating-box {
  display: inline-block;
  padding: 3px 7px;
  background: #f1f1f1;
  border-radius: 4px;
  margin-bottom: 6px;
  font-weight: 500;
}

.product-name {
  font-weight: 800;
  margin: 5px 0;
}

.product-desc {
  color: #555;
  margin-bottom: 10px;
}

.price-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.price {
  font-size: 18px;
  font-weight: 700;
}

.old-price {
  text-decoration: line-through;
  color: #777;
}

.discount {
  background: #f4c21b;
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 2px;
  font-weight: 600;
  
}

.add-btn {
  width: 100%;
  padding: 12px;
  border: 1px solid #222;
  background: white;
  cursor: pointer;
  font-weight: 700;
  transition: 0.2s;
}

.add-btn:hover {
  background: #222;
  color: white;
}
.img1{
  width: 1400px;
  height: 500px;
  /* margin-right: 1px; */
  margin-top: 10px;

}
.btnt{
  position: relative;
  bottom: 95px;
  left: 210px;
  color: rgb(254, 254, 254);
  background-color: rgb(60, 66, 184);
  font-size: large;
  border-radius: 20px;
}
.ney{
  position: relative;
  bottom: 250px;
  left: 100px;
  font-size: xx-large

}
/* ------------ OFFER SECTION ------------ */
.offer-section {
  text-align: center;
  padding: 50px;
  background: #f5f5f5;
}

.offer-card {
  background: white;
  padding: 25px;
  margin: auto;
  width: 60%;
  border-radius: 10px;
}