* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.nav {
  width: 100%;
  background: white;
  padding: 12px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

/* Left Section */
.nav-left {
  display: flex;
  align-items: center;
  gap: 18px;
}

.all-sports {
  font-size: 16px;
  font-weight: bold;
}

.logo {
  color: #2346b7;
  font-weight: 900;
  letter-spacing: 1px;
}

/* Search Box */
.search-box {
  width: 40%;
  background: #f4f3f4;
  padding: 8px 15px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
}

/* Right Section */
.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.location .title {
  font-size: 12px;
  color: #333;
}

.pin {
  color: #2346b7;
  font-weight: bold;
  font-size: 14px;
}

.change {
  color: #0077ff;
  cursor: pointer;
  margin-left: 5px;
}

/* Icons + Text */

.item { 
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
  /* color: #b42525; */
  /* text-decoration: none; */
  cursor: pointer;
  
  
}

.icon {
  font-size: 20px;
}
/* sign page */
.img{
  width: 770px;
  height: 600px;
}
.top{
  display: flex;
  gap: 200px;
 
}
.box{
  width: 390px;
  height: 40px;
}
.btn{
  background-color: #2346b7;
  width: 390px;
  height: 40px;
  color: white;
  
}
ul{
  color: #324b7d;
  margin-top: 20px;
  font-size: large;
  line-height: 33px ;

}
.map-container {
  width: 100%;
  height: 600px;
  overflow: hidden;
  border-radius: 10px;
}

.map-iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
.map{
  margin-left: 390px;
}
.home {
  font-family: Arial, sans-serif;
}

/* ------------ BANNER ------------ */
.banner {
  background: url("/banner.jpg") center/cover no-repeat;
  height: 70vh;
  display: flex;
  align-items: center;
  padding-left: 60px;
  color: white;
}

.banner-text h1 {
  font-size: 48px;
  font-weight: bold;
}

.banner-text p {
  font-size: 22px;
  margin: 10px 0 20px;
}

.btn {
  padding: 12px 24px;
  background: #0075ff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* ------------ CATEGORY SECTION ------------ */
.category-section {
  padding: 40px;
  text-align: center;
}

.category-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.category-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  background: #fff;
  transition: 0.3s;
}

.category-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 6px;
}

.category-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

